
.container{
    width: 1000px;
    background-color: silver;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}
.top-nav {
    width: 950px;
    height: 150px;
    background-color: green;
    margin: 20px auto;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-left: 20px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
    .sub-content {
        height: 200px;
        width: 200px;
        background-color: yellow;
    }

    #advertisement {
        height: 120px;
        width: 700px;
        background-color: purple;
        margin: 10px auto;
    }

